{% extends "inventory/base/cdn.html" %}

{% block content %}
<br>

<ol class="breadcrumb">
		<li><a href="{% url 'product-page' %}" title="Back to thte home page">Create</a></li>
		<li class="active">Products</li>
	</ol>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Create product</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
{% endblock %}