{% extends "inventory/base/cdn.html" %}
{% block content %}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Product Details #{{book.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Product Name</dt>
      <dd class="col-sm-9">{{ product.title }}</dd>
      <dt class="col-sm-3">Product Description</dt>
      <dd class="col-sm-9">{{ product.description }}</dd>
    </dl>

    </div>
</div>

{% endblock %}