{% extends "inventory/base/cdn.html" %}

{% block content %}
{% if latest_product_list %}
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"> Price </th>
                <th scope="col"> Stock </th>

                <th colspan="2" > <center>Action </center>  </th>
            </tr>
        </thead>
        <tbody>
            {% for product in latest_product_list %}
            <tr>
                <td><a href="{% url 'product-detail' product.id %}"> {{product.title}}</a></td>
                <td>{{product.description}}</td>
                <td> {{ product.price }}</td>
                <td> {{ product.amount }}</td>
                <td>
                    <a href="{% url 'product-update' product.id %}" class="btn btn-outline-primary">Update</a>
                </td>
                <td>
                    <a href="{% url 'product-delete' product.id %}" class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
</table>
{% else %}
    <p> No polls are available</p>
{% endif %}

{% endblock %}