{% extends "inventory/base/cdn.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Product Update:  {{product.title}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

{% endblock %}
